<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <div>
        <label for="full_name">Enter client's full name</label>
        <input id="full_name" name="full_name" type="text" th:field="*{fullName}">
    </div>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full name error</div>
    <br>
    <div>
        <label for="year_of_birthday">Enter year of client's birthday</label>
        <input id="year_of_birthday" name="year_of_birthday" type="text" th:field="*{yearOfBirth}">
    </div>
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year error</div>
    <br>
    <input type="submit" value="Create!">
</form>
</body>
</html>