<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookID()})}" th:object="${book}">
  <div>
    <label for="book_name">Enter book's name</label>
    <input id="book_name" name="book_name" type="text" th:field="*{name}">
  </div>
  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

  <br>
  <div>
    <label for="author_full_name">Enter author's full name</label>
    <input id="author_full_name" name="author_full_name" type="text" th:field="*{authorFullName}">
  </div>
  <div style="color: red" th:if="${#fields.hasErrors('authorFullName')}" th:errors="*{authorFullName}">Author's full name error</div>

  <br>
  <div>
    <label for="year_of_pub">Enter year of book's publication</label>
    <input id="year_of_pub" name="year_of_pub" type="text" th:field="*{yearOfPub}">
  </div>
  <div style="color: red" th:if="${#fields.hasErrors('yearOfPub')}" th:errors="*{yearOfPub}">Year error</div>

  <br>
  <input type="submit" value="Update!">
</form>
</body>
</html>